
.form{
    max-width: 300px;
    display:flex;
    margin: 0 auto;
    margin-bottom: 22px;
    gap:8px;
}

.form input{
    color:#6c6c6c;
    width: 100%;
    padding:4px 8px;
    outline: none;
}

.form button{
    color:#fff;
    background-color: #3F647F;
    padding:4px 8px;
    outline: none;
}


.tecs{
    display: flex;
    width: 600px;
    height: 350px;
    margin: 0 auto;
}
.tecs h4{
    color:#8f8f8f;
        width: 100%;
        height: 100%;
        max-width: 160px;
        max-height: 160px;
        margin-top:116px;
        margin-left: 60px;
}
.tecLeftImg{
    width: 50%;
    height: 100%;

}
.tecRightImg{
    width: 50%;
    height: 100%;  
}

.image{
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    margin-top:116px;
    margin-left: 60px;
}

.info{
    margin-top:128px;
    margin-left:35px;
}

.info h3{
    max-width: 200px;
    color:#092438;
    font-size:12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.info span{
    max-width: 200px;
    display: block;
    color:#fff;
    font-size:10px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 24px;
}


@media (max-width:600px){
    .tecs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 700px;
    margin: 0 auto;
}
.tecLeftImg{
    width: 100%;
    height: 100%;

}
.tecRightImg{
    width: 100%;
    height: 100%;  
}
}

